<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Mechkeys</title>

        <!-- CSS link (loading Semantic UI from a CDN) -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
            integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <style>
            body {
                padding: 50px;
            }
        </style>
    </head>
    <body class="container">
        <header>
            <div class="ui inverted menu">
                <% if(!locals.state) { %>
                <a class="item" href="/"> Home </a>
                <a class="item" href="/listings/"> Listings </a>
                <a class="item" href="/register"> Register </a>
                <a class="item" href="/login"> Login </a>
                <% } else if(state=="seller"){ %>
                <a class="item" href="/"> Home </a>
                <a class="item" href="/listings/"> Listings </a>
                <a class="item" href="/create-listing"> Create Listing </a>
                <a class="item" href="/listings/?page=mysaved">
                    Saved Listings
                </a>
                <a class="item" href="/listings/?page=mylistings">
                    My Listings
                </a>
                <a class="item" href="/logout"> Logout </a>
                <% } else if(state=="user") { %>
                <a class="item" href="/"> Home </a>
                <a class="item" href="/listings/"> Listings </a>
                <a class="item" href="/listings/?page=mysaved">
                    Saved Listings
                </a>
                <a class="item" href="/register-seller">
                    Register as a Seller</a
                >
                <a class="item" href="/logout"> Logout </a>
                <% } %>
            </div>
        </header>
    </body>
</html>
