<!DOCTYPE html>
<html>
    <head>
        <%- include('./header'); %>
    </head>
    <body>
        <h1>Mechkeys</h1>
        <% if (user) { %>
        <p>Current user <%= user.username %></p>
        <% } else { %>
        <p>No current user</p>
        <% } %>
    </body>
</html>
