<!DOCTYPE html>
<html>
    <head>
        <title>MYSQL Test example with NodeJS</title>
    </head>
    <body>
        <h1>MYSQL Connection example with NodeJS test</h1>
        <% if (user) { %>
        <p>Current user <%= user.username %></p>
        <% } else { %>
        <p>No current user</p>
        <% } %>
    </body>
</html>
