<!DOCTYPE html>
<html>
    <head>
        <title>Listings</title>
    </head>
    <body>
        <% for(let i = 0; i<listings.length; i++) { %>
            <p><%=  listings[i].title %></p>
        <% } %>
    </body>
</html>