<!DOCTYPE html>
<html>
    <head>
        <title>Mechkeys - Login</title>
    </head>
    <body>
        <h1>Login</h1>

        <form id="registrationForm" action="/login" method="post">
            <div>
                <label for="email">Email: </label>
                <input type="text" id="email" name="email" required />
            </div>
            <div>
                <label for="password">Password: </label>
                <input type="text" id="password" name="password" required />
            </div>
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>
